<form [formGroup]="registrationForm">
  <div class="form-group">
    <label class="form-control-label">Name </label>
    <input formControlName="name" type="text" class="form-control" required />
  </div>
  <div class="form-group">
    <label> Age </label>
    <input type="text" class="form-control" formControlName="age" required />
  </div>
  <div class="form-group">
    <label> Email </label>
    <input type="text" class="form-control" formControlName="email" required />
  </div>
  <div class="form-group">
    <label> Mobile Number </label>
    <input
      type="text"
      class="form-control"
      formControlName="mobile"
      required
      minLength
    />
  </div>
  <div class="form-group">
    <label> Occupation </label>
    <select formControlName="occupation" class="form-control" required>
      <option
        *ngFor="let occupations of occupationValue"
        [ngValue]="occupations.value"
      >
        {{ occupations.name }}
      </option>
    </select>
  </div>

  <button type="button" class="btn btn-primary" (click)="addAddress()">
    Add More Address
  </button>
  <div
    formArrayName="address"
    *ngFor="
      let item of registrationForm.get('address')['controls'];
      let i = index
    "
  >
    <div [formGroupName]="i" class="form-group">
      <label> Address line 1 </label>
      <input
        type="text"
        class="form-control"
        formControlName="address1"
        required
      />
      <label> Address line 2 </label>
      <input
        type="text"
        class="form-control"
        formControlName="address2"
        required
      />
      <label> City </label>
      <input type="text" class="form-control" formControlName="city" required />
      <label> State </label>
      <input
        type="text"
        class="form-control"
        formControlName="state"
        required
      />
      <label> Pincode </label>
      <input
        type="text"
        class="form-control"
        formControlName="pincode"
        required
      />
    </div>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      formControlName="agree"
      required
    />
    <label class="form-check-label"> Agree the terms and condiitions </label>
  </div><br>
  <re-captcha
      formControlName="recaptcha"
      (resolved)="resolved($event)"
      siteKey="6Lf6ankaAAAAAPIyMXjumhxliiQhu8ncaoBmgu9m"
    ></re-captcha><br><br>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="registrationForm.invalid"
    (click)="onSubmit()"
  >
    Submit
  </button>
</form>
